@font-face 
{
    font-family: 'myFont';
    src: url('Fonts/iranyekanwebboldfanum.eot');
    src: url('Fonts/iranyekanwebboldfanum.woff') format('woff');
    src: url('Fonts/iranyekanwebboldfanum.woff2') format('woff2');
    src: url('Fonts/iranyekanwebboldfanum.ttf') format('truetype');
    font-weight: normal !important;
    font-style: none !important;
}

body
{
    background: #E5E5E5;
    font-family: "myFont";
    overflow: hidden;
}

@-webkit-keyframes scale
{
    0% 
    { 
        -webkit-transform: scale(1);
        position: relative;
        top: 24px;
    }
    20% 
    {
        -webkit-transform: scale(0.96);
        position: relative;
        top: 24px;
    }
    80% 
    {
        -webkit-transform: scale(1.46);
        position: relative;
        top: 75px;
    }
    100% 
    { 
        -webkit-transform: scale(1.4);
        position: relative;
        top: 75px;
    }
}
@keyframes scale
{
    0% 
    { 
        transform: scale(1);
        position: relative;
        top: 24px;
    }
    20% 
    { 
        transform: scale(0.96);
        position: relative;
        top: 24px;
    }
    80% 
    {
        -webkit-transform: scale(1.46);
        position: relative;
        top: 75px;
    }
    100% 
    { 
        transform: scale(1.4);
        position: relative;
        top: 75px; 
    }
}
@-webkit-keyframes scale-reverse
{
    0% 
    { 
        -webkit-transform: scale(1.4);
        position: relative;
        top: 75px;
    }
    20%
    {
        -webkit-transform: scale(1.46);
        position: relative;
        top: 75px;
    }
    80%
    {
        -webkit-transform: scale(0.96);
        position: relative;
        top: 24px;
    }
    100% 
    { 
        -webkit-transform: scale(1);
        position: relative;
        top: 24px;
    }
}
@keyframes scale-reverse
{
    0% 
    { 
        transform: scale(1.4);
        position: relative;
        top: 75px;
    }
    20%
    {
        transform: scale(1.44);
        position: relative;
        top: 75px;
    }
    80%
    {
        transform: scale(0.96);
        position: relative;
        top: 24px;
    }
    100% 
    { 
        transform: scale(1);
        position: relative;
        top: 24px;
    }
}
@-webkit-keyframes rotate
{
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(30deg); }
    50% { -webkit-transform: rotate(-30deg); }
    75% { -webkit-transform: rotate(30deg); }
    100% { -webkit-transform: rotate(20deg); }
}
@keyframes rotate
{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(20deg); }
}

@-webkit-keyframes scale2
{   
    100% { -webkit-transform: scale(0.8); }
}

@keyframes scale2
{
    100% { transform: scale(0.8); }
}

@-webkit-keyframes fill-star
{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fill-star
{
    from { opacity: 0; }
    to { opacity: 1; }
}

.text-center
{
    text-align: center !important;
}

.text-white
{
    color: white !important;
}

.banner
{
    background: linear-gradient(240deg, #14B2E3, #1BCA80);
    height: 288px;
    margin: 90px 10px 0px 10px;
    border-radius: 16px;
}

.banner:hover .projector
{
    -webkit-animation: scale 4s;
    animation: scale 4s;
    transform: scale(1.4);
    position: relative;
    top: 75px;
}

.banner:hover .star
{
    -webkit-animation: scale2 2s;
    animation: scale2 2s;
    -webkit-animation: rotate 2s;
    animation: rotate 2s;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.banner:hover .star .fill-star
{
    -webkit-animation: fill-star 2s;
    animation: fill-star 2s;
    opacity: 1;
}

.star
{
    width: 419px;
    height: 419px;
    position: absolute;
    right: 3.69%;
    top: 3.72%;
    background: url("images/Star 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fill-star
{
    width: 100%;
    height: 100%;
    background: #EF1764;
    border: #fff solid 10px;
    clip-path: path("M209.5 8.03774L227.471 26.284L230.57 29.4311L234.312 27.0837L256.006 13.4736L269.285 35.3724L271.575 39.1495L275.758 37.7282L300.006 29.488L307.876 53.8587L309.234 58.0622L313.631 57.6438L339.126 55.2177L341.164 80.7465L341.515 85.1498L345.891 85.7567L371.258 89.2755L367.353 114.586L366.68 118.952L370.797 120.551L394.669 129.825L385.033 153.553L383.371 157.646L387.009 160.152L408.098 174.681L393.25 195.548L390.689 199.147L393.65 202.424L410.821 221.425L391.56 238.305L388.238 241.216L390.364 245.088L402.69 267.537L380.056 279.52L376.152 281.587L377.328 285.844L384.144 310.531L359.357 316.971L355.082 318.081L355.244 322.496L356.184 348.089L330.579 348.639L326.163 348.734L325.303 353.066L320.315 378.186L295.274 372.816L290.955 371.89L289.119 375.908L278.472 399.2L255.345 388.2L251.356 386.303L248.643 389.789L232.912 409.998L212.944 393.961L209.5 391.195L206.056 393.961L186.088 409.998L170.357 389.789L167.644 386.303L163.655 388.2L140.528 399.2L129.881 375.908L128.045 371.89L123.726 372.816L98.6849 378.186L93.6971 353.066L92.8368 348.734L88.4205 348.639L62.8164 348.089L63.756 322.496L63.918 318.081L59.6427 316.971L34.8556 310.531L41.672 285.844L42.8477 281.587L38.9438 279.52L16.3099 267.537L28.6356 245.088L30.7616 241.216L27.4395 238.305L8.17922 221.425L25.3497 202.424L28.3113 199.147L25.7502 195.548L10.9017 174.681L31.9914 160.152L35.6289 157.646L33.9669 153.553L24.3307 129.825L48.2026 120.551L52.32 118.952L51.6466 114.586L47.7422 89.2755L73.1094 85.7567L77.4848 85.1498L77.8363 80.7465L79.8742 55.2177L105.369 57.6438L109.766 58.0622L111.124 53.8587L118.994 29.488L143.242 37.7282L147.425 39.1495L149.715 35.3724L162.994 13.4736L184.688 27.0837L188.43 29.4311L191.529 26.284L209.5 8.03774Z");
    opacity: 0;
}

.projector
{
    width: 231px;
    height: 237px;
    background-size: cover;
    position: relative;
    top: 24px;
    left: 40px;
    background-repeat: no-repeat;
    margin-left: 60px;
}

.projector-hover-off
{
    -webkit-animation: scale-reverse 4s;
    animation: scale-reverse 4s;
}

.special-offer
{
    position: absolute;
    top: 30%;
    right: 9%;
    transform: translateY(-50%);
    font-size: 28px;
    color: #FFFFFF;
}

.product-content
{
    display: inline-block;
    direction: rtl;
    position: absolute;
    left: 45.5%;
    transform: translate(-54.5%, 0%);
    margin-top: 40px;
}

.product-name, .product-price
{
    font-size: 20pt;
}

.product-price
{
    position: relative;
    top: -12px;
}

.read-more
{
    background-color: transparent;
    padding: 6px 75px 6px 75px;
    font-size: 15pt;
    border: 2px solid #fff;
    font-family: "myFont";
    border-radius: 20px;
    transition: all .3s ease-in;
    position: relative;
    top: -20px;
}

.read-more:hover
{
    background: #3ABFB7;
}

.lock
{
    background: transparent;
    padding: 9.5px 8px;
    border: 2px solid #fff;
    border-radius: 19px;
    position: relative;
    top: -20px;
    right: 10px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.lock:hover
{
    background: #F4B717;
}

.lock-vector
{
    background-size: cover;
    width: 1.3em;
    height: 1.6em;
    position: relative;
    top: 9px;
}

.heart
{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 24px;
    width: 25px;
    height: 52px;
    padding: 9.5px 8px;
    position: relative;
    top: -20px;
    right: 20px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.heart:hover
{
    background-color: #3ABFB7;
}
.heart:hover .heart-vector
{
    fill: #EF1764;
    transition: all .3s ease-in;
}

.heart-vector
{
    background-size: cover;
    width: 1.2em;
    height: 1.1em;
    position: relative;
    top: 6px;
    transition: all .3s ease-in;
}